@{
    ViewData["Title"] = "Members";
}
<h1>@ViewData["Title"]</h1>

<style>
    .home-bg {
        background-color: #e0f7fa;
        padding: 40px;
        border: 3px solid #00796b;
        border-radius: 10px;
        text-align: center;
        color: #004d40;
        margin-bottom: 30px;
    }
</style>

<div class="home-bg" style="margin-top: 30px;">
    <h1>จัดทำโดย</h1>
</div>

<div class="home-bg" style="margin-top: 30px;">
    <p>นายกรภัทร์ หลวงเทพ 65080502230</p>
    <p>นายจิรายุ หลั่งแพ 65080502232</p>
    <p>นายอภิรัช จังอินทร์ 65080502248</p>
    <p>นายธนากร บริบูรณ์หิรัญ 65080502265</p>
    <p>นายจักรภัทร ทับไทย 65080502280</p>
</div>