@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
    


<style>
    .rulebox {
        background-color: #fdecea;
        padding: 40px;
        border: 3px solid #c62828;
        border-radius: 10px;
        text-align: center;
        color: #b71c1c;
        margin-bottom: 30px;
    }
</style>

<div class="rulebox" style="margin-top: 30px;">
    <h1 class="highlight">ข้อตกลงในการใช้งาน</h1>
</div>


<div class="rulebox" style="margin-top: 30px;">
    <p><font size="4">อยู่ในระหว่างการพัฒนาศึกษาการนำ DFD มาใช้ในการเขียนเว็บด้วย CRUD</font></p>
    <p><font size="5">เว็บนี้เป็นส่วนหนึ่งของรายวิชา Web Application Developer (ICE361)</font></p>
</div>
