USE [master]
GO
/****** Object:  Database [ToolUniver]    Script Date: 7/1/2025 5:24:14 PM ******/
CREATE DATABASE [ToolUniver]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToolUniver', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToolUniver.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToolUniver_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToolUniver_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToolUniver].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToolUniver]
GO
/****** Object:  Table [dbo].[Broken_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Broken_Infor](
	[Broken_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Tool_ID] [int] NOT NULL,
	[Reason] [varchar](100) NOT NULL,
	[OfficerID] [int] NOT NULL,
 CONSTRAINT [PK__Broken_I__E71DE43E11355ED4] PRIMARY KEY CLUSTERED 
(
	[Broken_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fee_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fee_Infor](
	[Fee_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Lend_ID] [int] NOT NULL,
	[Return_ID] [int] NOT NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK__Fee_Info__10B8D20757DAF75B] PRIMARY KEY CLUSTERED 
(
	[Fee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lend_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lend_Infor](
	[Lend_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tool_ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Date_Lend] [datetime] NOT NULL,
 CONSTRAINT [PK__Lend_Inf__FCA2DDE2FDAB5D24] PRIMARY KEY CLUSTERED 
(
	[Lend_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Infor](
	[ManagerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Manager_Infor] PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Officer_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Officer_Infor](
	[OfficerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Position] [varchar](100) NOT NULL,
	[Department] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Officer_Infor] PRIMARY KEY CLUSTERED 
(
	[OfficerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Infor](
	[Return_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tool_ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Date_Return] [datetime] NOT NULL,
 CONSTRAINT [PK__Return_I__0F4F4C5666381D5C] PRIMARY KEY CLUSTERED 
(
	[Return_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tool_Infor]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool_Infor](
	[Tool_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tool_Name] [varchar](100) NOT NULL,
	[Tool_Type] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tool_Infor] PRIMARY KEY CLUSTERED 
(
	[Tool_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/1/2025 5:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Faculty] [varchar](100) NULL,
	[Major] [varchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manager_Infor] ON 

INSERT [dbo].[Manager_Infor] ([ManagerId], [Name]) VALUES (1, N'D Dog')
INSERT [dbo].[Manager_Infor] ([ManagerId], [Name]) VALUES (2, N'F Fish')
SET IDENTITY_INSERT [dbo].[Manager_Infor] OFF
GO
SET IDENTITY_INSERT [dbo].[Officer_Infor] ON 

INSERT [dbo].[Officer_Infor] ([OfficerID], [Name], [Position], [Department]) VALUES (3, N'C Cat', N'Equipment Officer', N'Lend')
SET IDENTITY_INSERT [dbo].[Officer_Infor] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Name], [Faculty], [Major]) VALUES (6, N'F Fish', N'Industrial Education', N'Computer Engineering')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Broken_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Broken_In__Offic__5EBF139D] FOREIGN KEY([OfficerID])
REFERENCES [dbo].[Officer_Infor] ([OfficerID])
GO
ALTER TABLE [dbo].[Broken_Infor] CHECK CONSTRAINT [FK__Broken_In__Offic__5EBF139D]
GO
ALTER TABLE [dbo].[Broken_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Broken_In__Tool___5DCAEF64] FOREIGN KEY([Tool_ID])
REFERENCES [dbo].[Tool_Infor] ([Tool_ID])
GO
ALTER TABLE [dbo].[Broken_Infor] CHECK CONSTRAINT [FK__Broken_In__Tool___5DCAEF64]
GO
ALTER TABLE [dbo].[Broken_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Broken_In__UserI__5CD6CB2B] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Broken_Infor] CHECK CONSTRAINT [FK__Broken_In__UserI__5CD6CB2B]
GO
ALTER TABLE [dbo].[Fee_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Fee_Infor__Lend___59063A47] FOREIGN KEY([Lend_ID])
REFERENCES [dbo].[Lend_Infor] ([Lend_ID])
GO
ALTER TABLE [dbo].[Fee_Infor] CHECK CONSTRAINT [FK__Fee_Infor__Lend___59063A47]
GO
ALTER TABLE [dbo].[Fee_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Fee_Infor__Retur__59FA5E80] FOREIGN KEY([Return_ID])
REFERENCES [dbo].[Return_Infor] ([Return_ID])
GO
ALTER TABLE [dbo].[Fee_Infor] CHECK CONSTRAINT [FK__Fee_Infor__Retur__59FA5E80]
GO
ALTER TABLE [dbo].[Fee_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Fee_Infor__UserI__5812160E] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Fee_Infor] CHECK CONSTRAINT [FK__Fee_Infor__UserI__5812160E]
GO
ALTER TABLE [dbo].[Lend_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Lend_Info__Tool___4F7CD00D] FOREIGN KEY([Tool_ID])
REFERENCES [dbo].[Tool_Infor] ([Tool_ID])
GO
ALTER TABLE [dbo].[Lend_Infor] CHECK CONSTRAINT [FK__Lend_Info__Tool___4F7CD00D]
GO
ALTER TABLE [dbo].[Lend_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Lend_Info__UserI__5070F446] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Lend_Infor] CHECK CONSTRAINT [FK__Lend_Info__UserI__5070F446]
GO
ALTER TABLE [dbo].[Return_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Return_In__Tool___534D60F1] FOREIGN KEY([Tool_ID])
REFERENCES [dbo].[Tool_Infor] ([Tool_ID])
GO
ALTER TABLE [dbo].[Return_Infor] CHECK CONSTRAINT [FK__Return_In__Tool___534D60F1]
GO
ALTER TABLE [dbo].[Return_Infor]  WITH CHECK ADD  CONSTRAINT [FK__Return_In__UserI__5441852A] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Return_Infor] CHECK CONSTRAINT [FK__Return_In__UserI__5441852A]
GO
USE [master]
GO
