@model ToolUniversity.ViewModels.ReturnInforViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ToolId" class="control-label"></label>
        <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId"></select>
        <span asp-validation-for="ToolId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateReturn" class="control-label"></label>
        <input asp-for="DateReturn" class="form-control" type="date" />
        <span asp-validation-for="DateReturn" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
