@model ToolUniversity.ViewModels.FeeInforViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FeeInforViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="FeeId" />

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items=" ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendId" class="control-label"></label>
                <select asp-for="LendId" class="form-control" asp-items=" ViewBag.LendId"></select>
                <span asp-validation-for="LendId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnId" class="control-label"></label>
                <select asp-for="ReturnId" class="form-control" asp-items="ViewBag.ReturnId"></select>
                <span asp-validation-for="ReturnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

